   .hero-container {
    background: url('/assets/flagofusa-home.gif') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;    
    display: flex;    
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

  .hero-container > h1 {
    font-size: 70px;
    margin-top: -70px;
    color: #fff;
  }

  .hero-container > p {
    font-size: 40px;
    margin-top: 10px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .hero-btns {
    margin-top: 32px;    
  }

  .hero-btns .btn {
    margin: 6px;
  }