@import '~antd/dist/antd.css';
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .about-us,
  .gallery,
  .contact-us,
  .business-supporters {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }  
  
  .about-us {
    background-image: url('/public/assets/bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .gallery {
    background-image: url('/public/assets/bg2.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  .contactBlock .ant-form {    
    max-width: 640px;
    margin: auto;
    padding-top: 10px;
    
  }
  
  .contactBlock .ant-form textarea {
    min-height: 120px;
    height: 120px;
  }

  .titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
    padding-top: 100px;
  }

  .mobileVisible {
    display: none;
  }
  
  .mobileHidden {
    display: block;
  }

  
  
  
  